.quote {
	background-image: url("https://images.pexels.com/photos/208512/pexels-photo-208512.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
  position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
		opacity: 0.6;
	}
	.card {
		background: transparent;
		border: none;
		color: white;
	}
}
